// Icons
@import "font-awesome/css/font-awesome.css";

// Custom Bootstrap Colors
@import "_/themes/variables.scss";
@import "bootstrap/scss/bootstrap.scss";

// Custom Rules
@import "_/themes/custom.scss";

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.grid-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    grid-template-areas: "left main right";
    > .left {
        overflow: auto;
        position: relative;
        grid-area: left;
        background-color: $primary;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 80px;
        gap: 5px 0px;
        grid-template-areas:
            "header"
            "config"
            "footer";
        > .header {
            grid-area: header;
        }
        > .footer {
            grid-area: footer;
        }
        > .config {
            grid-area: config;
            .card-body {
                min-height: 80px;
            }
        }
    }
    > .main {
        position: relative;
        grid-area: main;
        padding: 10px;
        > .preview {
            width: 100%;
            height: 100%;
        }
    }
    > .right {
        overflow: auto;
        position: relative;
        grid-area: right;
        background-color: $primary;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px;
        gap: 5px 0px;
        grid-template-areas:
            "action"
            "source"
            "option";
        > .action {
            grid-area: action;
        }
        > .option {
            grid-area: option;
        }
        > .source {
            grid-area: source;
            pre {
                max-width: 350px;
                min-height: 100px;
                max-height: 500px;
            }
        }
    }
}

.btn-toggle {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    color: red;
    z-index: 9999;
    .btn-open {
        display: none;
    }
    .btn-close {
        display: block;
    }
}
.collapse {
    width: 0px;
    > * {
        display: none;
    }
    .root-toggle,
    .btn-toggle {
        display: block;
        .btn-open {
            display: block;
        }
        .btn-close {
            display: none;
        }
    }
}
