// Icons
@import "font-awesome/css/font-awesome.css";

// Custom Bootstrap Colors
@import "_/themes/variables.scss";
@import "bootstrap/scss/bootstrap.scss";

// Custom Rules
@import "_/themes/custom.scss";

html,
body,
#root {
    width: 100vw;
    height: 100vh;
}

.grid-main {
    display: grid;
    grid-template-columns: 230px 1.1fr 350px;
    grid-template-rows: 50px 1fr 80px;
    grid-template-areas:
        "header preview action"
        "config preview source"
        "footer preview option";
    width: 100%;
    height: 100%;
    background-color: $primary;
    > .header {
        grid-area: header;
        align-items: center;
        display: grid;
        padding: 0 2px;
    }
    > .config {
        grid-area: config;
        padding: 10px;
    }
    > .footer {
        grid-area: footer;
    }
    > .action {
        grid-area: action;
        align-items: center;
        display: grid;
        padding: 0 2px;
    }
    > .source {
        grid-area: source;
        padding: 10px;
        position: relative;
    }
    > .option {
        grid-area: option;
        align-items: center;
        display: grid;
        padding: 0 5px;
    }
    > .preview {
        grid-area: preview;
        padding: 5px;
        background-color: #f7f7f7;
    }
}

.move {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    color: red;
    z-index: 9999;
}
