.grid-design {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > .cell {
        user-select: none;
        border: 1px dotted black;
        overflow: hidden;
        &:hover {
            background-color: aliceblue;
            opacity: 0.6;
        }
        &.on {
            background-color: aquamarine;
            border: 1px solid aquamarine;
        }
    }
}
