.grid-draw {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > div {
        user-select: none;
        border: 2px solid red;
        overflow: hidden;
    }
    .legend {
        padding: 5px 10px;
    }
}
