.grid-design {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    padding: 10px;
    > .item {
        user-select: none;
        border: 1px dotted black;
        &:hover {
            background-color: aliceblue;
        }
        &.on {
            background-color: aquamarine;
            border: 1px solid aquamarine;
        }
    }
}
